{% extends "AppKAA/layout.html" %}

{% block content %}

  
  <div class="container p-5">
    <h2>REGISTRARSE EN NUESTRA WEB</h2>
    <form method="post">
      {% csrf_token %}
      {% for campo in form %}
        <p>
          {{ campo.label_tag }}<br>
          {{ campo }}
          {% if campo.help_text %}
            <small style="color: grey">{{ campo.help_text }}</small>
          {% endif %}
          {% for error in campo.errors %}
            <p style="color: rgb(223, 73, 73)">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button class="btn btn-success" type="submit">Confirmar Registro</button>
    </form>
  </div>
  
{% endblock %}