{% extends "AppKAA/layout.html" %}

{% block title %}ACERCA DE NOSOTROS{% endblock %}


{% block content %}

    <div class="container p-5">
        <h3>
            ACERCA DE NOSOTROS
        </h3>
        <div>
            <img src="/media/camposadn.jpg" class="img-fluid">
        </div><br>
        <p>
            Somos una empresa dedicada a la producción de Té y Yerba Mate, ubicados en la Provincia de Misiones, Argentina. 
        Apasionados por Nuestra Tierra, es nuestra intención llevar en lo más alto aquellas producciones que nos identifican, el Té y la Yerba 
        en su máximo potencial, focalizando en la Responsabilidad Social que nos incentiva como empresa a servir a nuestra comunidad. 
        ¡Los invitamos a acompañarnos en este camino!
        </p>
        
    </div>

{% endblock %}